<html>
	<head>
		<link rel="shortcut icon" href="https://static.planetminecraft.com/files/avatar/3338219_3.png">
		<title>Guess the cat</title>
	</head>
	<body>
		<center><h2>{{title}}</h2></center>
		<center><i>{{comment}}</i></center>
		<center>
		<a href = {{link1}}><img src = {{cat1}} height="150"></a>
		<a href = {{link2}}><img src = {{cat2}} height="150"></a>
		<a href = {{link3}}><img src = {{cat3}} height="150"></a>
		<a href = {{link4}}><img src = {{cat4}} height="150"></a>
		</center>
	</body>
</html>